@font-face {
	font-family: "icons";
	src: url('../fonts/icons.eot');
	src: url('../fonts/icons.eot?#iefix') format('eot'),
		url('../fonts/icons.woff2') format('woff2'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-arrow-down:before {
	content: "\E001";
}

.icon-close:before {
	content: "\E002";
}

.icon-facebook:before {
	content: "\E003";
}

.icon-hamburger:before {
	content: "\E004";
}

.icon-linkedin:before {
	content: "\E005";
}

.icon-logo-category-1:before {
	content: "\E006";
}

.icon-logo-category-2:before {
	content: "\E007";
}

.icon-logo-category-3:before {
	content: "\E008";
}

.icon-logo-category-4:before {
	content: "\E009";
}

.icon-magnify:before {
	content: "\E00A";
}

.icon-minus:before {
	content: "\E00B";
}

.icon-plus:before {
	content: "\E00C";
}

.icon-twitter:before {
	content: "\E00D";
}

.icon-youtube:before {
	content: "\E00E";
}
